* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'MyGolos';
    src: url('../fonts/golos-ui_bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'MyGolos';
    src: url('../fonts/golos-ui_medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'MyGolos';
    src: url('../fonts/golos-ui_regular.ttf') format('truetype');
    font-weight: 400;
}

a {
    text-decoration: none;
}

.page {
    display: grid;
    grid-template-columns: 72px 1fr;
}

nav {
    position: fixed;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 72px;
    height: 100vh;
    gap: 16px;
    align-items: center;
    border-right: 1px solid rgba(22, 22, 22, 0.05);
}

main {
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
}

.photos {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 3px;
}

.header {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    border-radius: 16px;
}

.name {
    margin-top: 20px;
    font: 500 32px/32px 'MyGolos', Arial, sans-serif;
    letter-spacing: -0.25px;
    vertical-align: middle;
    color: #222222;
}

.description {
    margin-top: 10px;
    font: 400 15px/18px 'MyGolos', Arial, sans-serif;
    letter-spacing: -0.15px;
    text-align: center;
    color: #222222;
    width: 361px;
}

.count_of_posts {
    margin-top: 12px;
    display: flex;
    gap: 6px;
    width: 101px;
    height: 30px;
    background-color: #F2F3F5;
    border-radius: 6px;
    padding: 6px 10px 6px 10px;
}