* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'MyGolos';
    src: url('../fonts/golos-ui_bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'MyGolos';
    src: url('../fonts/golos-ui_medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'MyGolos';
    src: url('../fonts/golos-ui_regular.ttf') format('truetype');
    font-weight: 400;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

body {
    display: grid;
    grid-template-columns: 72px 1fr;
}


nav {
    grid-column-start: 1;
    width: 72px;
    height: 100vh;
    position: fixed;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(22, 22, 22, 0.05);
    gap: 16px;
}


main {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-top: 73px;
    gap: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 474px;
    padding-top: 16px;
}

.header_of_post {;
    display: flex;
    justify-content: space-between;
}


.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font: 500 14px/18px 'MyGolos', Arial, sans-serif;
    letter-spacing: -0.15px;
    color: #222222;
}

.photo_avatar {
    border-radius: 6px;
}

.photo {
    position: relative;
}

.slider_left {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 222px;
    left: 16px;
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(13px);
}

.slider_right {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 222px;
    right: 16px;
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(13px);
}

.count_photos {
    position: absolute;
    top: 20px;
    right: 16px;
    width: 44px;
    height: 24px;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(22, 22, 22, 0.5);
    backdrop-filter: blur(12px);
    font: 400 15px/21px 'MyGolos', Arial, sans-serif;
    letter-spacing: -0.15px;
    text-align: center;
    color: #FFFFFF;
}

.like {
    height: 30px;
    width: 68px;
    border-radius: 8px;
    padding: 6px 12px 6px 12px;
    display: inline-flex;
    gap: 3px;
    background-color: rgba(22, 22, 22, 0.05);
    font: 400 15px/18px 'MyGolos', Arial, sans-serif;
    letter-spacing: -0.15px;
    align-items: center;
    color: #222222;
}

.description {
    font: 400 15px/18px 'MyGolos', Arial, sans-serif;
    letter-spacing: -0.15px;
    color: #222222;
}

.time {
    font: 400 14px/18px 'MyGolos', Arial, sans-serif;
    letter-spacing: -0.15px;
    color: rgba(22, 22, 22, 0.5);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
