* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyGolos';
    src: url('../fonts/golos-ui_bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'MyGolos';
    src: url('../fonts/golos-ui_medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'MyGolos';
    src: url('../fonts/golos-ui_regular.ttf') format('truetype');
    font-weight: 400;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 107px;
    min-height: 100vh;
}

.login {
    width: 343px;
    display: grid;
    grid-template-rows: auto;
    gap: 16px;
    font: 400 15px/18px 'MyGolos', Arial, sans-serif;
    letter-spacing: -0.15px;
    color: #222222;
}

.email {
    height: 88px;
    display: grid;
    grid-template-rows: 18px 44px 48px;
    gap: 5px;
}

.password {
    height: 67px;
    position: relative;
    display: grid;
    grid-template-rows: 18px 44px;
    gap: 5px;
}

.hide_password {
    position: absolute;
    top: 33px;
    right: 12px;
}

.input-field {
    padding: 13px 12px 13px 12px;
    border-radius: 10px;
    background-color: #F2F3F5;
    border: none;
}

.example {
    color: #808080;
    font: 400 13px/16px 'MyGolos', Arial, sans-serif;
    letter-spacing: -0.08px;
}

.continue {
    margin-top: 16px;
    height: 48px;
    font: 500 15px/18px 'MyGolos', Arial, sans-serif;
    color: #FFFFFF;
    background-color: #222222;
    border-radius: 10px;
}

h1 {
    font: 700 140px/180px 'MyGolos', Arial, sans-serif;
    letter-spacing: -1.5px;
    color: #222222;
    position: absolute;
    top: -106px;
    left: -88px;
}


.welcome_side {
    position: relative;
}